@import url('/src/global.css');

.biggest {
    width: 95%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
}

.team-upper {
    width: 70%;
    padding-left: 35px;
    margin-bottom: 10px;
    display: flex;
    justify-content: end;
}

.create-teams {
    font-size: 17px;
    height: 40px;
}
/* .teams-upper  */

.teams-bground {
    background-color: var(--first-gray);
    width: 70%;
    min-height: auto;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.team-title {
    font-size: 25px;
    padding: 25px 0px;
}

.team-img {
    width: 75px;
    height: 75px; 
    border-radius: 50%; 
    object-fit: cover;
}

.team-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    gap: 15px;
}

.team-info {
    display: flex;
    width: 80%;
    gap: 5px;
    align-items: center; 
}

.team-info p {
    flex: 1; 
    text-align: center; 
    margin: 0; 
    line-height: 1.5; 
    vertical-align: middle; 
}

.team-name {
    font-size: 18px;
    font-weight: bold;
}

.team-type,
.team-cap,
.team-date {
    font-size: 14px;
    color: gray;
}

.view-teams {
    padding: 5px 15px;
    background-color: var(--main-color);
    color: white;
    border: none;
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
}

.view-teams:hover {
    opacity: 0.5; 
}

.pagination-controls {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.pagination-controls button {
    padding: 8px 12px;
    font-size: 16px;
    cursor: pointer;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 5px;
}

.pagination-controls button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
    background-color: lightgray;
}
